@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
  color: #1a1a1a;
  font-weight: 700;
}
