@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-color: white;
  color: #4a5568;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
  color: #1a365d;
  font-weight: 700;
}
